@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root{
    --azul-suave: hsl(231, 69%, 60%); 
    --rojo-suave:hsl(0, 94%, 66%);
    --azul-gris: hsl(229, 8%, 60%);
    --azul-oscuro:hsl(229, 31%, 21%);
    --fuente-primaria: 'Rubik', sans-serif;
    --tamaño-fuente: 18px;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: var(--fuente-primaria);
    font-size: 18px;
    overflow-x: hidden;
}
.nav{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    width: 25%;
    margin-left: 4rem;
}
.icon-bar{
    /* color: white; */
    background: none;
    border: none;
    font-size: 20px;
    display: none;
}
.nav .section-items{
    width: 75%;
    margin-right: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}
.nav .section-items .div-items a{
    text-decoration: none;
    padding: 1.5rem;
    font-size: 16px;
    color: var(--azul-gris);
}
.nav .section-items .div-items a:last-of-type{
    display: none;
}
.nav .section-items .div-items a:hover{
    color: var(--rojo-suave);
}
.nav .icon{
    display: none;
}
.nav .section-items .item-boton > button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: var(--rojo-suave);
    color: white;
    font-family: var(--fuente-primaria);
    font-size: 14px;
    text-align: center;
    box-shadow: 0 0 0 .25px var(--azul-gris);
    cursor: pointer;
}
.nav .section-items .item-boton > button:hover{
    border: 1px solid var(--rojo-suave);
    background-color: white;
    color: var(--rojo-suave);
}
main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    
}
main .text-main{
    width: 50%;
    margin-left: 2rem;
    
}
main .text-main > h1{
    text-align: left;
    font-size: xx-large;
    color: var(--azul-oscuro);
    padding-top: 0;
    font-weight: bold;
}
main .text-main > p{
    text-align: left;
    font-size: x-large;
    color: var(--azul-gris);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
main .text-main .btn-chrome{
    width: 160px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--azul-suave);
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1rem;
    
}
main .text-main .btn-chrome:hover{
    color: var(--azul-suave);
    border: 2px solid var(--azul-suave);
    background-color: white;
}
main .text-main .btn-firefox{
    width: 160px;
    height: 40px;
    border-radius: 4px;
    background-color:#F7F7F7;
    font-weight: 500;
    color: var(--azul-oscuro);
    box-shadow: 0 5px 10px -5px var(--azul-oscuro);
    cursor: pointer;
    border: none;
}
main .text-main .btn-firefox:hover{
    color: var(--azul-oscuro);
    border: 2px solid var(--azul-oscuro);
    background-color: white;
}
main .background-main{
    width: 50%;
    height: 300px;
    right: -15%;
    margin-top: 10%;
    z-index: -1;
    position: absolute;
    border-radius: 7rem 0rem 0rem 7rem ;
    background-color: var(--azul-suave);
    overflow: hidden;
}
/* AQUÍ INICIA EL BREAKPOINT MENOS DE 600 DE LA SECTION MAIN */
@media only screen and (max-width: 600px){
    main{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        
    }
    main .text-main{
        width: 80%;
        height: 50%;
        margin: 0;
        order: 2;
        margin-top: 2rem;
    }
    main .text-main > h1{
        text-align: center;
        font-size: large;
        font-weight: bold;
        margin-top: 1rem;
    }
    main .text-main > p{
        text-align: center;
        font-size: medium;
        color: var(--azul-gris);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .main-buttons{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    main .text-main .btn-chrome{
        width: 120px;
        height: 40px;
        margin-right: 1rem;
        
    }
    main .text-main .btn-firefox{
        width: 120px;
        height: 40px;
    }
    main .background-main{
        width: 80%;
        order: 2;
        height: 30%;
        right: 0%;
        margin-top: -50%;
        border-radius: 7rem 0rem 0rem 7rem ;
        background-color: var(--azul-suave);
    }
    .main-content picture{
        width: 100%;
        height: auto;
        margin-top: 10%;
    }
    .main-content picture img{
        width: 100%;
        height: auto;
    }

}




/* FEATURES */
.features{
    width: 100%;
    height: auto;
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features .text-features{
    width: 600px;
    height: auto;
    text-align: center;
    justify-content: center;
}
.features .text-features > h2{
    color: var(--azul-oscuro);
}
.features .text-features > p {
    color: var(--azul-gris);
    padding-top: 1rem;
}
.features .opciones-features{
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    justify-content: space-around;
    color: var(--azul-gris);
    border-bottom: 1px dotted var(--azul-gris);
}
.opciones-features a:hover{
    color: var(--rojo-suave);
    cursor: pointer;
}
.opciones-features a:active{
    border-bottom: 3px solid var(--rojo-suave);
}
.opcion1,.opcion2,.opcion3{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
.hide {
    display: none;
}
.features .opcion1 .bookmarking-background,.intelligent-background,.share-background{
    width: 50%;
    height: 300px;
    margin-top: 10%;
    left: -15%;
    z-index: -1;
    position: absolute;
    border-radius: 0rem 7rem 7rem 0rem ;
    background-color: var(--azul-suave);
    overflow: hidden;
}
.opcion1 .text-simple-bookmarking,.text-intelligent-search,.text-sharee-bookmarking{
    width: 50%;
    margin-left: 1rem;
    
}
.opcion1 .text-simple-bookmarking > h1,
.opcion2 .text-intelligent-search > h1,
.opcion3 .text-sharee-bookmarking > h1{
    text-align: left;
    font-size: xx-large;
    color: var(--azul-oscuro);
    margin-left: 4rem;
    padding-top: 0;
    font-weight: bold;
}
.opcion1 .text-simple-bookmarking > p,
.opcion2 .text-intelligent-search > p,
.opcion3 .text-sharee-bookmarking > p{
    text-align: left;
    margin-left: 4rem;
    font-size: large;
    color: var(--azul-gris);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 200;
}
.opcion1 .text-simple-bookmarking .btn-more-info,
.opcion2 .text-intelligent-search .btn-more-info,
.opcion3 .text-sharee-bookmarking .btn-more-info{
    width: 110px;
    height: 40px;
    border-radius: 4px;
    margin-left: 4rem;
    background-color: var(--azul-suave);
    color: white;
    border: none;
    font-weight: 500;
    /* box-shadow: 4px 4px 25px var(--azul-suave); */
    cursor: pointer;
    margin-right: 1rem;
}
.opcion1 .text-simple-bookmarking .btn-more-info:hover,
.opcion2 .text-intelligent-search .btn-more-info:hover,
.opcion3 .text-sharee-bookmarking .btn-more-info:hover{
    color: var(--azul-suave);
    border: 2px solid var(--azul-suave);
    background-color: white;
}
/* AQUÍ INICIA EL BREAKPOINT MENOS DE 600 DE LA SECTION CARDS */
@media only screen and (max-width: 600px){
    .features{
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }
    .features .text-features{
        width: 80%;
        height: auto;
        text-align: center;
        
    }
    .features .text-features >h2{
        font-size: large;
    }
    .features .text-features > p {
        font-size: medium;
    }
    .features .opciones-features{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        border-bottom: 1px dotted var(--azul-gris);
    }
    .opciones-features a{
        display: block;
         /* border-bottom: 1px dotted var(--azul-gris); */
    }

    /* ESTO FALTA POR RETOCAR */
        .opcion1,.opcion2,.opcion3{
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            padding: 0;
        }
        .hide {
            display: none;
        }
        .features .opcion1 .bookmarking-background,.intelligent-background,.share-background{
            width: 80%;
            height: 250px;
            margin-top: -80%;
            left: 0%;
            display: none;
            
        }
        .opcion1 picture > img,
        .opcion2 picture > img,
        .opcion3 picture > img{
            width: 100%;
            height: auto;
        }
        .opcion1 .text-simple-bookmarking,.text-intelligent-search,.text-sharee-bookmarking{
            width: 80%;
            margin-left: 0;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .opcion1 .text-simple-bookmarking > h1,
        .opcion2 .text-intelligent-search > h1,
        .opcion3 .text-sharee-bookmarking > h1{
            text-align: center;
            font-size: large;
            margin-left: 0;
            padding-top: 0;
            font-weight: none;
        }
        .opcion1 .text-simple-bookmarking > p,
        .opcion2 .text-intelligent-search > p,
        .opcion3 .text-sharee-bookmarking > p{
            text-align: center;
            margin-left: 0;
            font-size: medium;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .opcion1 .text-simple-bookmarking .btn-more-info,
        .opcion2 .text-intelligent-search .btn-more-info,
        .opcion3 .text-sharee-bookmarking .btn-more-info{
            width: 110px;
            height: 40px;
            border-radius: 4px;
            margin-left: 0rem;
            margin-right: 0rem;
        }
    
}

.cards{
    width: 100%;
    height: 600px;
}
.padre-text-cards{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
.hijo-text-cards{
    width: 50%;
    height: 140px;
    padding-top: 2.5rem;
    text-align: center;
}
.hijo-text-cards > h1{
    color: var(--azul-oscuro);
}
.hijo-text-cards > p {
    color: var(--azul-gris);
    padding-top: 1rem;
}
.cards-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 460px;
    padding-top: 4rem;
}
.card{
    width: 280px;
    height: 290px;
    display: flex;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 8px 12px rgba(0,0,0,.1);
    /* justify-content: center; */
}
.card > h3{
    color: var(--azul-oscuro);
}
.card > p{
    color: var(--azul-gris);
    padding-top: 1rem;
    font-size: smaller;
}
.card .add-extension{
    width: 200px;
    height: 40px;
    border-radius: 4px;
    margin-top: .3rem;
    background-color: var(--azul-suave);
    color: white;
    border: none;
    cursor: pointer;
}
.card .add-extension:hover{
    color: var(--azul-suave);
    border: 2px solid var(--azul-suave);
    background-color: white;
}
.card2{
    margin-top: 4rem;
}
.card3{
    margin-top: 8rem;
}

/* AQUÍ INICIA EL BREAKPOINT MENOS DE 600 DE LA SECTION CARDS */
@media only screen and (max-width: 600px){
    .cards{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;     
    }
    .card{
        width: 80%;
        height: 300px;
        display: flex;
        padding: 0;
        justify-content: space-evenly;
        flex-direction: column;
        overflow: hidden;
    }
    .cards-group{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 2rem;
        align-items: center;
    }
    .padre-text-cards{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        padding-top: 2.5rem;
    }
    .hijo-text-cards{
        width: 80%;
        height: auto;
        padding-top: 1rem;
        text-align: center;
    }
    .card .add-extension{
        width: 160px;
        height: 40px;
    }
    .hijo-text-cards > h1{
        font-size: large;
    }
    .hijo-text-cards > p {
        font-size: medium;
    }
    .card2{
        margin-top: 2rem;
    }
    .card3{
        margin-top: 2rem;
    }
}



/* QUESTIONS */
.padre-text-questions{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
.hijo-text-questions{
    width: 50%;
    height: 140px;
    padding-top: 2.5rem;
    text-align: center;
}
.hijo-text-questions > h1{
    color: var(--azul-oscuro);
}
.hijo-text-questions > p {
    color: var(--azul-gris);
    padding-top: 1rem;
}
.asked {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    
}
.asked .text {
    text-align: center;
}

.asked .questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.asked .questions .question {
    width: 50%;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--azul-gris);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    position: relative;
}
.asked .questions .question .flex-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.asked .questions .question p {
    position: absolute;
    opacity: 0;
    margin-top: 20px;
    line-height: 1.7;
    color: var(--azul-gris);
    transition: 0.5s;
}
.asked .questions .question:hover span {
    color: var(--rojo-suave);
}
.asked .questions .question.focus img {
    transform: rotate(180deg);
}
.asked .questions .question.focus p {
    position: static;
    opacity: 1;
}
.asked .questions .question span {
    color: var(--azul-oscuro);
    transition: 0.5s;
}
.asked .questions .question:last-of-type {
    border-bottom: 1px solid rgb(150, 150, 150);
    padding-bottom: 20px;
}
.asked .questions .question img {
    width: 25px;
    height: 25px;
    transition: 0.3s;
}
.section-questions .asked .container .questions .btn-more-info{
    width: 110px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--azul-suave);
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-top: .5rem;
}
.section-questions .asked .container .questions .btn-more-info:hover{
    color: var(--azul-suave);
    border: 2px solid var(--azul-suave);
    background-color: white;
}
/* AQUÍ INICIA EL BREAKPOINT MENOS DE 600 DE LA SECTION QUESTIONS */
@media only screen and (max-width: 600px){
    .section-questions{
        width: 100%;
        height: auto;
    }
    .asked .questions .question {
        width: 80%;
    }
    .padre-text-questions{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .hijo-text-questions{
        width: 80%;
    }
    .section-questions{
        width: 100%;
        height: 650px;
    }
    .hijo-text-questions > h1{
        font-size: large;
    }
    .hijo-text-questions > p {
        font-size: medium;
    }
}

/* AQUI INICIA EL BREAKPOINT MENOS DE 992PX HASTA 650  */
@media only screen and (max-width: 992px) {
    .nav .logo{
        margin-left: 2rem;
        transition: all 0.15s ease;
    }
    .nav .section-items{
        margin-right: 2rem;
        transition: all 0.15s ease;
    }
    .nav .section-items .div-items a{
        padding: 1rem;
        transition: all 0.15s ease;
    }
}

/* CONTACTO */
.contacto{
    width: 100%;
    height: 250px;
    background-color: var(--azul-suave);
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-contacto{
    text-align: center;
    color: white;
}
.container-contacto > p{
    font-size: smaller;
    margin-top: 1rem;
}
.container-contacto > h1{
    font-size: xx-large;
    margin-top: 1rem;
}
.container-contacto > input{
    width: 230px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    margin-top: 1rem;
    text-align: left;
    padding-left: 10px;
}
.container-contacto > input::placeholder{
    text-align: left;
    color: var(--azul-gris);
}
.container-contacto > input:focus{
    /* outline: none; */
    outline: 2px solid var(--rojo-suave);
}

.container-contacto > button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: var(--rojo-suave);
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}
.container-contacto > button:hover{
    border:  2px solid var(--rojo-suave);
    color:var(--rojo-suave);
    background-color: white;
}
/* AQUÍ INICIA EL BREAKPOINT MENOS DE 600 DEL CONTACTO */
@media only screen and (max-width: 600px){
    .container-contacto > p{
        font-size: small;
        margin-top: 1rem;
    }
    .container-contacto > h1{
        font-size: x-large;
        margin-top: 1rem;
    }
}
/* FOOTER */
footer{
    width: 100%;
    height: 90px;
    background-color: var(--azul-oscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.logo-enlaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-enlaces .enlaces a{
    text-decoration: none;
    margin-left: 2.5rem;
    color: white;
    font-size: medium;
}
.logo-enlaces .enlaces a:hover{
    color: var(--rojo-suave);
}
.redes-sociales i{
    margin-left: 1rem;
    color: white;
    font-size: x-large;
    cursor: pointer;
}
.redes-sociales i:hover{
    color: var(--rojo-suave);
}

/* AQUÍ INICIA EL BREAKPOINT MENOS DE 600 DEL FOOTER */
@media only screen and (max-width: 600px){
    footer{
        flex-direction: column;
        align-items: center;
        height: 220px;
    }
    .logo-enlaces{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div .enlaces{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
    .logo-enlaces .enlaces a{
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
        justify-content: center;
        margin-left: 0;
    }
    div .redes-sociales{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    .redes-sociales i:first-child{
        margin-left: 0rem;

    }
}









/* AQUÍ INICIA EL BREAKPOINT MENOS DE 650 HASTA MAS DE 600 */
@media only screen and (max-width: 650px) {
    .nav .logo{
        margin-left: 1rem;
        transition: all 0.15s ease;
    }
    .nav .section-items{
        margin-right: 1rem;
        transition: all 0.15s ease;
    }
    .nav .section-items .div-items a{
        padding: 1rem;
        transition: all 0.15s ease;
    }
}

/* AQUI INICIA EL BREAKPOINT MENOS DE 600 */
@media only screen and (max-width: 600px) {
    .nav .section-items .item-boton > button{
        display: none;
        transition: all 0.15s ease;
    }
    .nav .logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        padding-left: 1.25rem;
        transition: all 0.15s ease;

    }
    .icon-bar{
        display: block;
        padding-right: 1.25rem;
        cursor: pointer;
    }
    .nav .section-items{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: hsla(228, 81%, 15%, 0.8);
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        left: -100%;
        transition: all 0.15s ease;
    }
    .nav .section-items_visible {
        left: 0;
        transition: all 0.15s ease;
    }
    .nav .section-items .div-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.15s ease;
    }
    .nav .section-items .div-items a{
        text-decoration: none;
        padding: 1rem;
        font-size: 16px;
        color: white;
        border-top: 1px solid white;
        transition: all 0.15s ease;
    }
    .nav .section-items .div-items a:last-of-type{
        display: inline-block;
        transition: all 0.15s ease;
    }
}